#intro {
  background-color: rgb(255, 251, 227);
  margin: auto;
}

#interview-section {
  background-color: rgb(248, 211, 190);
  margin: auto;
}

#persona-section {
  background-color: rgb(190, 236, 248);
  margin: auto;
}

#storyboard {
  background-color: rgb(241, 190, 248);
  margin: auto;
}


img {
 width: 25rem;
 border-radius: 2rem;
}

.sketches{
  display: flex;

  align-items: center;

  justify-content: space-evenly;

  flex-wrap: wrap;
  margin: 5rem 5rem; 
}


.interviews {
  /* display: flex; */
  display: table;
  /* object-fit: fill; */
  /* justify-content: space-evenly; */
  text-align: left;
  margin: auto;
  overflow-wrap: break-word;
}

.personas {
  display: flex;
  text-align: left;
  margin-top: 5rem;
  justify-content: space-around;
}

.persona-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5rem; */
  width: 50rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*code for the box shadow taken from https://www.w3schools.com/css/css3_shadows_box.asp*/
}

div.interview-q {
  display: table;
  min-width: fit-content;
  max-width: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*code for the box shadow taken from https://www.w3schools.com/css/css3_shadows_box.asp*/
}

div.summary {
  display: flex;
  min-width: fit-content;
  max-width: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*code for the box shadow taken from https://www.w3schools.com/css/css3_shadows_box.asp*/
}

div.disc {
  justify-content: space-between;
}

div.storyboards {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 5rem;
}
